root = true

[*.{kt,kts}]
ktlint_code_style = intellij_idea
max_line_length = 140
# Compose composables are PascalCase by design:
ktlint_function_naming = disabled
ktlint_standard_function-naming = disabled
# allow trailing-comma-free + a few pragmatic relaxations:
ktlint_standard_no-wildcard-imports = disabled
insert_final_newline = true
